
[Unit]
Description=php-server

[Service]
User=root
Group=root
ExecStart=php /home/vagrant/backend/artisan serve --host 0.0.0.0 --port 80

[Install]
WantedBy=multi-user.target
